.banner{
	background-color:#75c9d2;
	height:700px;
}
.profile{
	height:400px;
}
#header{
	background-color:#75c9d2;
}
#menu{
	margin: 0 auto;
}

#portifolioRow{
	height:35vh;
}


/* mobile */
@media (max-width:768px){
	#portifolioRow{
	height:60vh;
}


}/* end mobile */

.h-center{
	text-align: center;
}

.v-center{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
.padding-xl{
	padding: 5%;
}
.icon-mdi{
	width: 150px !important;
	height: 150px !important;
}
